@use "../../scss/index" as *;

.board-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5rem;
    margin-right: 5rem;

    .title {
        color: $header-bg;
        font-size: larger;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .table-board {
        margin-right: 4rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left-board {
            .filter {
                display: flex;
                gap: 1rem;

                button {
                    width: 14rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        padding-left: 5px;
                        border-left: 1px solid grey;
                    }
                }


                .dropdown-toggle::after {
                    display: none;
                }

                .dropdown-menu {
                    width: 100%;
                }

                .form-check-input:checked {
                    background-color: red !important;
                    border-color: red !important;
                }
            }

            ul {
                align-items: flex-start;
                padding: 0 2rem;
                cursor: pointer;
            }
        }

        .right-board {
            display: flex;
            gap: .5rem;

            .search {
                width: 14.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid black;
                border-radius: 9px;
                margin-right: 0.5rem;

                div>input {
                    border: none;
                }

                div>input:focus {
                    outline: 0;
                }

                div+div {
                    padding-top: 5px;
                    padding-bottom: 5px;
                    border-left: 1px solid black;
                }

                div>button {
                    padding: 0 0.5rem;
                }
            }
        }
    }

    .table-listing {

        table,
        thead,
        tbody {
            width: 100%;
        }

        td,
        th {
            text-align: left;
            margin-left: 5px;

        }

        tbody>tr:hover {
            background-color: #fde6e6;
        }


    }

    .paging {
        margin: 1rem 1.5rem;

        button {
            border-radius: 0;
        }
    }
}

.modal {
    border: 1px solid black;

    .modal-header {
        border-bottom: 1px solid black;
        font-weight: 700;
    }

    .modal-body {
        .detail {
            padding: 1rem;

            .detail-item {
                display: flex;
                width: 100%;
                text-align: left;
                padding: 0.5rem;

                .label {
                    width: 30%;
                }

                .value {
                    width: 70%;
                }
            }
        }
    }
}

a.link-to-create {
    text-decoration: none !important;
    color: white !important;
}


#disable-button,
#cancel-button {
    margin-right: 1rem;
    margin-top: 1rem;
}

.confirm-disable {
    padding: 2.5rem !important;
}

.detail-item {
    word-wrap: break-word;
}

.pagination {
    list-style: none;
    display: flex;
    justify-content: end;
    align-self: flex-end;
    margin-bottom: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 700;



    .page-pre,.page-next {
        padding: 5px 9px;
        cursor: pointer;
        color: lightgrey;
        text-decoration: none;
        border: 1px solid lightgrey;
    }

    .page-num {
        padding: 5px 9px;
        cursor: pointer;
        color: #cf2338;
        text-decoration: none;
        border: 1px solid #c63748d5;
    }

    .page-num:hover,
    .page-pre:hover,
    .page-next:hover {
        background-color: #c63748d5;
        color: white;
    }


    .active {
        background-color: #c63748d5;
        color: white;
    }
}