.board-container{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-top: 5rem;
    margin-right:5rem;
}

.board-container .title{
    color: #cf2338;
    font-size: larger;
    font-weight: 700;
    margin-bottom: 2rem;
}

/* .board-container  */