
  .__radioListData {
    width: 100%;

    .__row-header{
      margin-bottom: 5px;
      button{
        font-weight: bold;
        border-bottom: solid rgb(128, 125, 125) 1.5px;
        padding: 0 5px;
      }
      .__iconUpDown{
        float: right;
      }
    }

    .__body-list{
      height: 22rem;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .__row-content{
      padding-top: 10px;
      .list-group-item{
        border-bottom: solid rgb(201, 201, 201) 1px;
        padding: 0 5px 3px 5px;
      }

      &:hover{
        background-color: rgb(243, 243, 243);
      }
      
      
    }

    .__more{
      .list-group-item{
        border-bottom: none;
        text-align: center;
        &:hover{
          color: rgb(46, 115, 241);
        }
      }
    }

    .__radio-select{
      cursor: pointer;
    }

    .__hideIcon{
      display: none;
    }
    
    
    .__activeSort{
      color: red;
    }
    
  }
  
  