@use "../../scss/index" as *;

._createAssignment{
    margin: 6rem 6rem 10px 6rem;

    ._title{
        position: relative;
        color: #cf2338;
        font-weight: bold;
        margin-bottom: 30px;
        
    }
    form{
        width: 35rem;

        ._label{
            vertical-align: middle;
        }
        
        ._rowCreateAssignment{
            margin: 37px 0;
        }
        ._text-error{
            position: absolute;
            margin-top: -1px;
            padding-left: 1px;
            color: red;
        }
        ._textarea{
            resize: none;
        }
        ._inputError{
            border-color: red;
        }
       
        
        .__button-search{
            position: absolute;
            z-index: 199;
            top: 5px;
            right: 20px;
            cursor: pointer;
        }
        
        
    }
}

